.sidebar {
  /* height: calc(100vh - 2rem); */
  height: 100%;
  width: 15rem;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background-color: #cacaca;
  transition: width 0.3s ease;
  position: relative;
  z-index: 10000;
}

.sidebar.closed {
  width: 4rem;
  padding: 1rem 0;
}

.toggle-button {
  position: absolute;
  top: 10px;
  right: -15px;
  width: 30px;
  height: 30px;
  background-color: #3f3f3f;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  outline: none;
  font-size: 1.2rem;
}

.sidebar-header {
  margin-bottom: 1rem;
  padding: 0.5rem;
  text-align: center;
}

.sidebar-header h5 {
  color: #ffffff;
}

.sidebar-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-item {
  display: flex;
  align-content: center;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease;
}

.sidebar-item:hover {
  background-color: #616161;
}

.sidebar-icon {
  margin-bottom: 20%;
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

.sidebar.closed .sidebar-icon {
  margin-right: 0;
  text-align: center;
  width: 100%;
}

.sidebar-item span + span {
  display: none;
}

.sidebar.open .sidebar-item span + span {
  display: inline-block;
  margin-left: 0.5rem;
}
