.profile-page {
    color: #333;
}

.profile-header {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.profile-header img {
    width: 150px; 
    height: 150px; 
    object-fit: cover; 
    border-radius: 50%; 
    border: 2px solid #ccc; 
}

.profile-info {
    margin-left: 20px;
}

.profile-name {
    font-size: 24px;
    font-weight: bold;
}

.profile-status {
    font-size: 16px;
    color:black;
}

.details-section {
    margin-top: 20px;
}

.username-form, .profile-pic-form {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease, max-height 0.3s ease;
}

.username-form.show, .profile-pic-form.show {
    opacity: 1;
    max-height: 200px; 
}
