.homepage {
    display: flex;
}

.header_home {
    width: 100%;
    max-width: 1200px;
    margin-bottom: 20px;
    text-align: center;
}

.header_home h1 {
    font-size: 2rem;
    color: #333;
    margin: 0;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
}

.card {
    background-image: linear-gradient( 76.3deg,
     rgba(44,62,78,1) 12.6%,
     rgba(69,103,131,1) 82.8% );
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card h2 {
    font-size: 1.5rem;
    margin: 0 0 10px;
}

.card p {
    font-size: 1rem;
    color: #555;
}

.status-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.status-button:hover {
    background-color: #0056b3;
}

.status-button.done {
    background-color: #28a745;
}

.status-button.done:hover {
    background-color: #1e7e34;
}

.status-button.in-progress {
    background-color: #ffc107;
}

.status-button.in-progress:hover {
    background-color: #e0a800;
}
